body{
    
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    color: aliceblue;
    display:flex
}

form{
    margin: auto;
    background-color: rgb(209, 144, 144);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(24, 23, 19);
    padding: 20px;
    max-width: 600px;



}
legend{
    font-weight: bold;
    text-align: left;
    color:black ;

}
label{
    display: block;
    margin-top: 10px;
    color: black;
}
input ,textarea{
    margin-top: 4px;
    padding: 8px;
    width: calc(100% -1px);
    border: 1px solid coral;
    border-radius: 4px;
}

button{
    display: block;
    width: 100%;
    background-color: aquamarine;
    color: black;
    font-size: 18px;
    padding: 10px;
}
button :hover{
    color: blueviolet;
}
#resume-display{
    background-color: rgb(36, 32, 32);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px cadetblue;
    max-width: 500px;
    width: 100%;
    margin: auto;
    border: 2px solid coral;
    outline: none;
}


#resume-display h2{
    color: rgb(228, 149, 197);
    font-size: 1.75rem;
    margin-bottom: 20px;
    text-align: justify
    ;
}